
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span>System</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Settings")">
                <div class="pull-left">
                    <i class="zmdi zmdi-settings mr-20"></i>
                    <span class="right-nav-text">Settings</span>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

    </ul>
</div>
