
<div class="col-md-6">
    <div class="left-content">

        @*@Html.Raw(Model.AboutText)*@

    </div>
</div>
<div class="col-md-6">
    <div class="right-image">

        <img src="img/about_image.jpg" alt="">
    </div>
</div>