@model string
<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
    <img src="@Model" alt="user_auth" class="user-auth-img img-circle" />
    <span class="user-online-status"></span>
</a>


